@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

* {
  font-family: "pangolin";
  user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#container {
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  border: 3rem solid #efefef;
  background-color: white;
  position: relative;
  overflow: hidden;
  height: 45rem;
  display: flex;
  flex-direction: column;
}

.score {
  width: 15rem;
  height: 4rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.35);
  right: 0;
  font-weight: 600;
  z-index: 1000;
  color: #333;
  font-size: 1.25rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  position: absolute;
  z-index: 999;
}
.buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: #333;
  font-weight: 600;
  border-radius: 50%;
  height: 3rem;
  outline: none;
  border: none;
  width: 3rem;
  background-color: rgba(255, 255, 255, 0.35);
}

#game-window {
  overflow: hidden;
  width: 75rem;
  flex: 1;
  background-image: url("game_background.jpg");
  background-size: cover;
  position: relative;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.25);
  background-color: lightskyblue;
}

.playScreen,
.pauseScreen,
.gameOverScreen {
  position: absolute;
  top: 0;
  z-index: 100000;
  background-color: cadetblue;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 200ms ease-out;
  font-size: 5rem;
}

font {
  filter: drop-shadow(0 0 0.35rem rgba(255, 255, 255, 0.5));
  -webkit-text-fill-color: cadetblue; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  margin-bottom: 0.5rem;
}

.playScreen button,
.pauseScreen button,
.gameOverScreen button {
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  font-weight: 600;
  color: white;
  outline: none;
  border: none;
  background-color: teal;
  filter: drop-shadow(0 0 0.85rem teal);
  transition: all 200ms ease-out;
  letter-spacing: 0.25rem;
  cursor: pointer;
}

.smText {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.goToTop {
  top: -100%;
}

.playScreen button:hover {
  scale: 1.05;
}

#inputBox {
  background-color: teal;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 0.5rem 0;
  height: 4rem;
  position: relative;
}

.bars {
  position: absolute;
  left: 0;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  z-index: 1001;
}

.bars .bar {
  width: 2rem;
  border: 1.5px solid #eee;
  margin-bottom: 2rem;
}

.text {
  transform: rotate(45deg);
  font-size: 1.35rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: steelblue;
  position: absolute;
  top: -20px;
  color: white;
  border: 0.25rem solid #eee;
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.25));
  left: calc(50% - 10px);
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  pointer-events: none;
  background-position: 50%;
  transform: rotate(-45deg);
  background-repeat: no-repeat;
  background-size: 100% 200%;
  animation: raindrop 1s infinite linear;
}

@keyframes raindrop {
  0% {
    background-position-y: 0%;
  }

  100% {
    background-position-y: 100%;
  }
}

#textbox {
  text-align: center;
  outline: none;
  border: none;
  height: 3rem;
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  padding: 5px;
}
